src/main/deploy/auton/auton.dtd

<!ELEMENT auton (snippet | primitive)* >

<!ELEMENT snippet EMPTY>
<!ATTLIST snippet file CDATA #IMPLIED>

<!ELEMENT primitive (zone* ) >
<!ATTLIST primitive 
          id                ( DO_NOTHING | HOLD_POSITION | 
                              DRIVE_PATH_PLANNER | RESET_POSITION_PATH_PLANNER | RESET_POSITION_PATH_PLANNER_NO_VISION | DO_NOTHING_DELAY | DRIVE_STOP_MECH) "DO_NOTHING"
		  pathUpdateOption 	(RIGHT_REEF_BRANCH | LEFT_REEF_BRANCH | REEF_ALGAE | FLOOR_ALGAE | CORAL_STATION | PROCESSOR | BARGE | NOTHING) "NOTHING"
		  time				CDATA #IMPLIED
		  delayOption		(START | PLACED_CORAL | REEF) "START"
          headingOption     CDATA "IGNORE"
          heading           CDATA "0.0"
          pathname          CDATA #IMPLIED
		  choreoname		CDATA #IMPLIED
		  pathgains			(LongPath | ShortPath) "LongPath"
		  taleOption		( STATE_READY | STATE_INITIALIZE | 
		  					STATE_HUMAN_PLAYER_LOAD | STATE_GRAB_ALGAE_REEF | STATE_HOLD |
							STATE_GRAB_ALGAE_FLOOR | STATE_PROCESS | STATE_NET | STATE_SCORE_ALGAE |
							STATE_L1SCORING_POSITION | STATE_L2SCORING_POSITION |
							STATE_L3SCORING_POSITION | STATE_L4SCORING_POSITION |
							STATE_SCORE_CORAL | STATE_MANUAL_CORAL_LOAD |
							STATE_MANUAL_GRAB_ALGAE_REEF | STATE_MANUAL_GRAB_ALGAE_FLOOR | STATE_LAUNCH_NET) "STATE_READY"

		  visionAligment    ( UNKNOWN ) "UNKNOWN"
>


<!ELEMENT zone EMPTY >
<!ATTLIST zone
		filename CDATA #REQUIRED
		
>


